.homepage {
    padding: 30px 80px;
}

.intro {
    font-size: 54px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: left;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}